<div layout="row" layout-sm="column" layout-align="center center" flex id="applogin" ng-if="statistik.loader.onProgress">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div  style="position: fixed;z-index: -999" layout-sm="column" layout-align="center center" ng-if="statistik.loader.onProgress" >
  <md-table-container>
    <table md-table id="tabledatatoexportexcell">
      <thead md-head  >
      <tr md-row>
        <th md-column><span>No</span></th>
        <th md-column ><span>TPS</span></th>
        <th md-column >Alamat</th>
        <th md-column >Petugas</th>
        <th md-column ><span>Tanggal</span></th>
        <th md-column >Jam Penuh</th>
        <th md-column >Jam Diambil</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row  ng-repeat="item in statistik.listDataPengangkutan ">
        <td md-cell >{{$index + 1}}</td>
        <td md-cell >{{item.tps.name}}</td>
        <td md-cell >{{item.tps.address}}</td>
        <td md-cell >{{item.petugas.name}}</td>
        <td md-cell >{{item.createdAt | date:'d MMM, y'}}</td>
        <td md-cell >{{item.createdAt | date:'H:m:s '}}</td>
        <td md-cell >{{item.updatedAt | date:'H:m:s '}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</div>


<div layout-fill ng-if="!statistik.loader.onProgress && statistik.loader.success " >
  <div layout-fill style="position:absolute;">
    <md-card >

      <md-toolbar class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools">
          <span>{{statistik.title}}</span>
          <div style="margin-left: 10px;" ng-if="statistik.loader.showSelect">
            <md-select ng-model="statistik.selectedDate" ng-change="statistik.processSelectedYear()" class="md-no-underline" style="margin:0" aria-label="selectbyyear">
              <md-option ng-value="myval" ng-repeat="myval in statistik.listDate" >{{myval}}</md-option>
            </md-select>
          </div>

          <div style="margin-left: 10px;" ng-if="statistik.loader.showSelect">
            <md-select ng-model="statistik.selectedMode" ng-change="statistik.processSelectedMode()" class="md-no-underline" style="margin:0" aria-label="selectbyyear">
              <md-option ng-value="myval" ng-repeat="myval in statistik.listMode" >{{myval}}</md-option>
            </md-select>
          </div>

          <md-button class="md-icon-button" ng-click="statistik.refreshSelectedTps()">
            <md-tooltip md-direction="bottom">
              refresh
            </md-tooltip>
            <md-icon class="material-icons">refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-card-content layout="row" >
        <div flex="70" >
          <canvas id="line" class="chart chart-line" chart-data="statistik.data"
                  chart-labels="statistik.labels" chart-series="statistik.series" chart-options="statistik.options"
                  chart-dataset-override="statistik.datasetOverride">
          </canvas>
        </div>
        <div flex="30" layout="column">
          <md-card layout="column" style="max-height: 370px;height: 100%;">
            <div flex="10" layout="row" layout-align="center center" class="my-primary-color">
              <span flex class="tbl-tittle">{{statistik.selectedMode == statistik.listMode[0] ? statistik.listMode[0] : statistik.listMode[1] }}</span>
              <span flex class="tbl-tittle">Jumlah</span>
            </div>
            <md-divider ></md-divider>
            <md-content flex="80" style="background-color: transparent;: ">
              <div flex layout="column" ng-repeat="item in statistik.selectedstatistikobject.monthlyusage">
                <div layout="row" layout-align="center center" style="padding: 5px;background-color: #dff0d8;">
                  <span flex class="tbl-trr">{{statistik.labels[item.month-1]}}</span>
                  <span flex class="tbl-trr">{{item.count}}</span>
                </div>
                <md-divider ></md-divider>
                <div ng-if="statistik.selectedMode == statistik.listMode[1]" layout="column" ng-repeat="daily in item.dailyusage">
                  <div layout="row" layout-align="center center" style="padding: 5px;background-color: #fcf8e3;">
                    <span flex class="tbl-trr">{{daily.day + " " + statistik.labels[item.month-1] + " " + statistik.selectedDate}}</span>
                    <span flex class="tbl-trr">{{daily.count}}</span>
                  </div>
                  <md-divider ></md-divider>
                </div>
               
              </div>


            </md-content>
            <div flex="10" layout="column" >
              <md-divider ></md-divider>
              <div flex layout="row" layout-align="center center" >
                <span flex class="tbl-trr">Total</span>
                <span flex class="tbl-trr">{{statistik.selectedstatistikobject.count || 0}}</span>
              </div>
            </div>

          </md-card>
          <md-button class="md-raised md-primary" ng-click="statistik.fetchPengangkutanData()">
            <md-icon class="material-icons">file_download</md-icon> Download {{statistik.title}}
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div style="position: absolute">
    <md-button ng-style="dash.showleftmenu.style" class="md-fab md-mini md-primary showhideicon" ng-click="dash.checkLeft()">
      <md-icon class="material-icons">{{dash.showleftmenu.status ? 'chevron_right' : 'chevron_left'}}</md-icon>
    </md-button>
    <md-card class="my-side" ng-if="dash.showleftmenu.status">
      <md-content>
        <md-list>
          <md-list-item >
            <input  class="myinput" placeholder="Cari" ng-model="filtertps" style="border:solid 1px rgba(0,0,0,0.12)" layout-padding>
          </md-list-item>

          <md-list-item  ng-click="statistik.fetchStatistik()" >
            <p>Semua TPS</p>
          </md-list-item>
          <md-list-item  ng-click="statistik.fetchStatistikBy(tps)" ng-repeat="tps in statistik.listtps |filter:filtertps" >
            <p>{{tps.name}}</p>
          </md-list-item>

      </md-content>
    </md-card>
  </div>


</div>


<md-content ng-if="!statistik.loader.onProgress &&  !statistik.loader.success" class="myborder" layout="column" layout-align="center center">
  <div layout="column" layout-align="center center">
    <div class="my-avatar" layout="column" layout-align="center center">
      <md-icon md-svg-src="/img/not-found.svg" class="welcome-icon" style="margin:0;" aria-label="Add"></md-icon>
    </div>
    <div class="welcome-text">
      <h1 class="welcome-title">{{statistik.errormsg.title}}</h1>
      <div class="welcome-desc">{{statistik.errormsg.msg}}</div>
    </div>
  </div>
</md-content>
