<div class="mypadding" >
  <md-card >
    <md-toolbar class="md-table-toolbar md-default" ng-hide="admin.filter.show ||  admin.selected.length > 0">
          <div class="md-toolbar-tools">
            <span>Admin</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="admin.openNewAdmin($event)">
              <md-tooltip md-direction="bottom">
              tambah
            </md-tooltip>
              <md-icon class="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-icon-button" event-focus="click" event-focus-id="search" ng-click="admin.filter.show = !admin.filter.show">
              <md-tooltip md-direction="bottom">
              cari
            </md-tooltip>
              <md-icon class="material-icons">filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="admin.refresh($event)">
              <md-tooltip md-direction="bottom">
              refresh
            </md-tooltip>
              <md-icon class="material-icons">refresh</md-icon>
            </md-button>
          </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="!admin.filter.show || admin.selected.length >0">
    <div class="md-toolbar-tools">
      <md-icon class="material-icons">search</md-icon>
      <form flex name="filter.form" style="margin-left: 16px;">
        <input class="myinput" id="search" type="text" ng-model="admin.query.filter" ng-change="admin.onSearchChange(admin.query.filter)" ng-model-options="admin.filter.options"  placeholder="cari" >
      </form>
      <md-button class="md-icon-button" ng-click="admin.closeFilter()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="admin.selected.length > 0">
       <div class="md-toolbar-tools">
         <span>{{admin.selected.length}} item dipilih</span>
         <md-menu>
             <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
               <md-icon md-menu-origin="" class="material-icon " style="color: rgb(255,255,255);
    fill: rgb(255,255,255);">more_vert</md-icon>
             </md-button>
             <md-menu-content width="2">

                 <md-menu-item>
                   <md-button ng-click="admin.resetPassword()">
                   Reset password
                 </md-button>
               </md-menu-item>
               <md-menu-item>
                 <md-button ng-click="admin.deleteAdministrator($event)">
                 Hapus admin
               </md-button>
             </md-menu-item>

             </md-menu-content>
         </md-menu>
       </div>
     </md-toolbar>
      <md-table-container>
        <table md-table md-row-select="admin.options.rowSelection" multiple="{{admin.options.multiSelect}}" ng-model="admin.selected" md-progress="admin.promise">
          <thead md-head md-order="admin.query.order" >
            <tr md-row>
              <th md-column md-order-by="name"><span>Nama</span></th>
              <th md-column md-order-by="email"><span>Email</span></th>
              <th md-column >Username</th>
              <th md-column hide-gt-xs show-gt-md md-order-by="createdAt">Dibuat</th>
              <th md-column hide-gt-xs show-gt-md md-order-by="updatedAt">Akses</th>
              <th md-column >Wilayah</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-if="item.username != admin.user.username" md-row md-select="item"  md-auto-select="admin.options.autoSelect" ng-repeat="item in admin.listAdmin | filter:admin.query.filter | orderBy: admin.query.order | limitTo: admin.query.limit : (admin.query.page -1) * admin.query.limit ">
              <td md-cell class="mycell">{{item.name }}</td>
              <td md-cell class="mycell">{{item.email || ""}}</td>
              <td md-cell class="mycell">{{item.username || ""}}</td>
              <td md-cell class="mycell" hide-gt-xs show-gt-md>{{item.createdAt | date:'longDate'}}</td>
              <td md-cell class="mycell" hide-gt-xs show-gt-md>
                  <md-select ng-model="item.role" ng-change="admin.updateAdminData(item)" class="md-no-underline"  aria-label="selectbyyear" flex>
                      <md-option ng-value="myval" ng-repeat="myval in admin.listRole" >{{myval}}</md-option>
                  </md-select>
              </td>
              <td md-cell class="mycell" >
                  <md-select ng-if="item.role != admin.listRole[0]" ng-model="item.wilayah.name" ng-change="admin.updateAdminData(item)" class="md-no-underline"  aria-label="selectwilayah" flex>
                      <md-option ng-value="wil.name" ng-repeat="wil in admin.listWilayah" >{{wil.name}}</md-option>
                  </md-select>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div ng-if="admin.listAdmin.length == 0">
        <md-divider ></md-divider>
      <div  layout="column" layout-align="center center">
        <div style="height:100px;text-align:center" layout="row" layout-align="center center">
          <md-icon class="material-icons">list</md-icon>
          <span>Tidak ada data</span>
        </div>
      </div>
      </div>
      <md-table-pagination ng-if="!admin.filter.show" md-limit="admin.query.limit" md-limit-options="admin.limitOption" md-page="admin.query.page" md-total="{{admin.listAdmin.length}}"  md-page-select="admin.options.pageSelect" ></md-table-pagination>

      <md-table-pagination ng-if="admin.filter.show" md-limit="admin.query.limit" md-limit-options="admin.limitOption" md-page="admin.query.page" md-total="{{admin.tmplistadmin.length}}"  ></md-table-pagination>


    </md-card>

</div>
