<div class="mypadding">
  <md-card>
    <md-grid-list
        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px" >

        <md-grid-tile class="river"
            md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-icon md-svg-src="/img/LogoTR.svg" class="welcome-icon white" style="margin:0;" aria-label="Add"></md-icon>
          <md-grid-tile-footer>
            <h3>Trash Rescue</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

      <md-grid-tile class="river">
        <h1 class="font-x-web-large">{{data.dashboard.tps}}</h2>
      <md-grid-tile-footer>
        <h3>TPS</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="river">
        <h1 class="font-x-web-large">{{data.dashboard.sensor}}</h2>
      <md-grid-tile-footer>
        <h3>SENSOR</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="river">
        <h1 class="font-x-web-large">{{data.dashboard.petugas}}</h2>
    <md-grid-tile-footer>
      <h3>PETUGAS</h3>
    </md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile class="river" >

      <h1 ng-if="dash.isSuperAdmin()" class="font-x-web-large">{{data.dashboard.admin}}</h2>
    <md-grid-tile-footer ng-if="dash.isSuperAdmin()">
      <h3>ADMIN</h3>
    </md-grid-tile-footer>
  </md-grid-tile>

    <md-grid-tile class="river"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1">
  <h1 class="font-x-web-large">{{data.dashboard.penuh}}</h2>
      <md-grid-tile-footer>
        <h3>PENUH</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="river"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
  <h1 class="font-x-web-large">{{data.dashboard.sensor_active}}</h2>
      <md-grid-tile-footer>
        <h3>SENSOR AKTIF</h3>
      </md-grid-tile-footer>
    </md-grid-tile>


    </md-grid-list>
  </md-card>
</div>
