<div class="mypadding">
  <md-card >
    <md-toolbar class="md-table-toolbar md-default" ng-hide="petugas.filter.show ||  petugas.selected.length > 0">
          <div class="md-toolbar-tools">
            <span>Petugas</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="petugas.openNewPetugas($event)">
              <md-tooltip md-direction="bottom">
              tambah
            </md-tooltip>
              <md-icon class="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-icon-button" event-focus="click" event-focus-id="search" ng-click="petugas.filter.show = !petugas.filter.show">
              <md-tooltip md-direction="bottom">
              cari
            </md-tooltip>
              <md-icon class="material-icons">filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="petugas.refresh($event)">
              <md-tooltip md-direction="bottom">
              refresh
            </md-tooltip>
              <md-icon class="material-icons">refresh</md-icon>
            </md-button>
          </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="!petugas.filter.show || petugas.selected.length >0">
    <div class="md-toolbar-tools">
      <md-icon class="material-icons">search</md-icon>
      <form flex name="filter.form" style="margin-left: 16px;">
        <input class="myinput" id="search" type="text" ng-model="petugas.query.filter" ng-change="petugas.onSearchChange(petugas.query.filter)" ng-model-options="petugas.filter.options"  placeholder="cari" >
      </form>
      <md-button class="md-icon-button" ng-click="petugas.closeFilter()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="petugas.selected.length > 0">
       <div class="md-toolbar-tools">
         <span>{{petugas.selected.length}} item dipilih</span>
         <md-menu>
             <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
               <md-icon md-menu-origin="" class="material-icon " style="color: rgb(255,255,255);
    fill: rgb(255,255,255);">more_vert</md-icon>
             </md-button>
             <md-menu-content width="2">
               <md-menu-item ng-if="petugas.selected.length == 1">
                 <md-button ng-click="petugas.openDetailPetugas()">
                   Detail
                 </md-button>
               </md-menu-item>

               <md-menu-item>
                 <md-button ng-click="petugas.deleteSelectedPetugas($event)" >
                 Hapus akun
               </md-button>
             </md-menu-item>
             </md-menu-content>
         </md-menu>
       </div>
     </md-toolbar>
      <md-table-container>
        <table md-table md-row-select="petugas.options.rowSelection" multiple="{{petugas.options.multiSelect}}" ng-model="petugas.selected" md-progress="petugas.promise">
          <thead md-head md-order="petugas.query.order" >
            <tr md-row>
              <th md-column md-order-by="name"><span>Nama</span></th>
              <th md-column md-order-by="email"><span>Email</span></th>
              <th md-column  md-order-by="no_hp">Nomor Hp</th>
              <th md-column >Id Telegram</th>
              <th md-column >Tps</th>
              <th md-column hide-gt-xs show-gt-lg md-order-by="createdAt">Dibuat</th>
              <th md-column hide-gt-xs show-gt-md md-order-by="updatedAt">Wilayah</th>

            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="item" ng-click="petugas.openDetailPetugas($event,item)" style="cursor:pointer" ng-mouseover="item.myStyle={color:'black',fill:'black'}" ng-mouseleave="item.myStyle={color:'transparent',fill:'transparent'}" md-auto-select="petugas.options.autoSelect" ng-repeat="item in petugas.listpetugas | filter:petugas.query.filter | orderBy: petugas.query.order | limitTo: petugas.query.limit : (petugas.query.page -1) * petugas.query.limit ">
              <td md-cell class="mycell">{{item.name }}</td>
              <td md-cell class="mycell">{{item.email || ""}}</td>
              <td md-cell class="mycell">{{item.no_hp || ""}}</td>
              <td md-cell class="mycell">{{item.id_telegram }}</td>
              <td md-cell class="mycell">{{item.tps.length || 0 }}</td>
              <td md-cell class="mycell" hide-gt-xs show-gt-lg>{{item.createdAt | date:'longDate'}}
              </td>
              <td md-cell class="mycell" hide-gt-xs show-gt-md>{{item.wilayah.name}}
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
                      <md-icon class="material-icons mytransparent" ng-style="item.myStyle"  >more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">

                      <md-menu-item >
                        <md-button ng-click="petugas.openDetailPetugas($event,item)">
                          Detail
                        </md-button>
                      </md-menu-item>

                      <md-menu-item>
                        <md-button ng-click="petugas.deletePetugas($event,item._id)">
                        Hapus akun
                      </md-button>
                    </md-menu-item>
                    </md-menu-content>
                </md-menu>
              </td>

            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div ng-if="petugas.listpetugas.length == 0">
        <md-divider ></md-divider>
      <div  layout="column" layout-align="center center">
        <div style="height:100px;text-align:center" layout="row" layout-align="center center">
          <md-icon class="material-icons">list</md-icon>
          <span>Tidak ada data</span>
        </div>
      </div>
      </div>
      <md-table-pagination ng-if="!petugas.filter.show" md-limit="petugas.query.limit" md-limit-options="petugas.limitOption" md-page="petugas.query.page" md-total="{{petugas.listpetugas.length}}"  md-page-select="petugas.options.pageSelect" ></md-table-pagination>

      <md-table-pagination ng-if="petugas.filter.show" md-limit="petugas.query.limit" md-limit-options="petugas.limitOption" md-page="petugas.query.page" md-total="{{petugas.tmplistpetugas.length}}"  ></md-table-pagination>


    </md-card>

</div>
