<div class="mypadding">
  <md-card >
    <md-toolbar class="md-table-toolbar md-default" ng-hide="sensor.filter.show ||  sensor.selected.length > 0">
          <div class="md-toolbar-tools">
            <span>Sensor</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="sensor.openTambahSensor($event)">
              <md-tooltip md-direction="bottom">
              tambah
            </md-tooltip>
              <md-icon class="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-icon-button" event-focus="click" event-focus-id="search" ng-click="sensor.filter.show = !sensor.filter.show">
              <md-tooltip md-direction="bottom">
              cari
            </md-tooltip>
              <md-icon class="material-icons">filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="sensor.refresh($event)">
              <md-tooltip md-direction="bottom">
              refresh
            </md-tooltip>
              <md-icon class="material-icons">refresh</md-icon>
            </md-button>
          </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="!sensor.filter.show || sensor.selected.length >0">
    <div class="md-toolbar-tools">
      <md-icon class="material-icons">search</md-icon>
      <form flex name="filter.form" style="margin-left: 16px;">
        <input class="myinput" id="search" type="text" ng-model="sensor.query.filter" ng-change="sensor.onSearchChange(sensor.query.filter)" ng-model-options="sensor.filter.options"  placeholder="cari" >
      </form>
      <md-button class="md-icon-button" ng-click="sensor.closeFilter()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="sensor.selected.length > 0">
       <div class="md-toolbar-tools">
         <span>{{sensor.selected.length}} item dipilih</span>
         <md-menu>
             <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
               <md-icon md-menu-origin="" class="material-icon " style="color: rgb(255,255,255);
    fill: rgb(255,255,255);">more_vert</md-icon>
             </md-button>
             <md-menu-content width="2">
               <md-menu-item ng-if="false">
                 <md-button >
                   Edit sensor
                 </md-button>
               </md-menu-item>
               <md-menu-item>
                 <md-button ng-click="sensor.deleteSensor($event)">
                 Hapus sensor
               </md-button>
             </md-menu-item>
             </md-menu-content>
         </md-menu>
       </div>
     </md-toolbar>
      <md-table-container>
        <table md-table md-row-select="sensor.options.rowSelection" multiple="{{sensor.options.multiSelect}}" ng-model="sensor.selected" md-progress="sensor.promise">
          <thead md-head md-order="sensor.query.order" >
            <tr md-row>
              <th md-column md-order-by="updatedAt"><span>Diperbarui</span></th>
              <th md-column md-order-by="createdAt"><span>Status</span></th>
              <th md-column >Jarak (1,2)</th>
              <th md-column >Lokasi (lat,lng)</th>
              <th md-column >Wilayah</th>
              <th md-column >Api key</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="item" ng-mouseover="item.myStyle={color:'black',fill:'black'}" ng-mouseleave="item.myStyle={color:'transparent',fill:'transparent'}"  md-auto-select="sensor.options.autoSelect" ng-repeat="item in sensor.listsensor | filter:sensor.query.filter | orderBy: sensor.query.order | limitTo: sensor.query.limit : (sensor.query.page -1) * sensor.query.limit ">
              <td md-cell class="mycell">{{item.updatedAt | date:'d MMM, y H:m:s '}}</td>
              <td md-cell class="mycell">{{sensor.checkSensorIsActive(item.updatedAt)}}</td>
              <td md-cell class="mycell">( {{item.jarak_sensor_1}} , {{item.jarak_sensor_2}} )</td>
              <td md-cell class="mycell">( {{item.location[1]}} , {{item.location[0]}} )</td>
              <td md-cell class="mycell">
                <md-select ng-disabled="!dash.isSuperAdmin()" ng-model="item.wilayah.name" ng-change="sensor.updateSensorData(item)" class="md-no-underline"  aria-label="selectwilayah" flex>
                  <md-option ng-value="wil.name" ng-repeat="wil in sensor.listWilayah" >{{wil.name}}</md-option>
                </md-select>
              </td>
              <td md-cell class="mycell">{{item.api_key }}
                <md-button class="md-icon-button" ngclipboard data-clipboard-text="{{item.api_key}}" ng-click="dash.ToastUtil.showSimpleToast('Api key disalin ke clipboard ')">
                  <md-icon class="material-icons mytransparent" ng-style="item.myStyle"  >content_copy</md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div ng-if="sensor.listsensor.length == 0">
        <md-divider ></md-divider>
      <div  layout="column" layout-align="center center">
        <div style="height:100px;text-align:center" layout="row" layout-align="center center">
          <md-icon class="material-icons">list</md-icon>
          <span>Tidak ada data</span>
        </div>
      </div>
      </div>
      <md-table-pagination ng-if="!sensor.filter.show" md-limit="sensor.query.limit" md-limit-options="sensor.limitOption" md-page="sensor.query.page" md-total="{{sensor.listsensor.length}}"  md-page-select="sensor.options.pageSelect" ></md-table-pagination>

      <md-table-pagination ng-if="sensor.filter.show" md-limit="sensor.query.limit" md-limit-options="sensor.limitOption" md-page="sensor.query.page" md-total="{{sensor.tmplistsensor.length}}"  ></md-table-pagination>


    </md-card>

</div>
