<div class="mypadding">
  <md-card >
    <md-toolbar class="md-table-toolbar md-default" ng-hide="tps.filter.show ||  tps.selected.length > 0">
          <div class="md-toolbar-tools">
            <span>TPS</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="tps.openNewTps($event)">
                <md-tooltip md-direction="bottom">
                tambah
              </md-tooltip>
              <md-icon class="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-icon-button" event-focus="click" event-focus-id="search" ng-click="tps.filter.show = !tps.filter.show">
              <md-tooltip md-direction="bottom">
              cari
            </md-tooltip>
              <md-icon class="material-icons">filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="tps.refresh($event)">
              <md-tooltip md-direction="bottom">
              refresh
            </md-tooltip>
              <md-icon class="material-icons">refresh</md-icon>
            </md-button>
          </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="!tps.filter.show || tps.selected.length >0">
    <div class="md-toolbar-tools">
      <md-icon class="material-icons">search</md-icon>
      <form flex name="filter.form" style="margin-left: 16px;">
        <input class="myinput" id="search" type="text" ng-model="tps.query.filter" ng-change="tps.onSearchChange(tps.query.filter)" ng-model-options="tps.filter.options"  placeholder="cari" >
      </form>
      <md-button class="md-icon-button" ng-click="tps.closeFilter()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="tps.selected.length > 0">
       <div class="md-toolbar-tools">
         <span>{{tps.selected.length}} item dipilih</span>
         <md-menu>
             <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
               <md-icon md-menu-origin="" class="material-icon " style="color: rgb(255,255,255);
    fill: rgb(255,255,255);">more_vert</md-icon>
             </md-button>
             <md-menu-content width="2">
            
               <md-menu-item>
                 <md-button ng-click="tps.deleteSelectedTps()">
                 Hapus Tps
               </md-button>
             </md-menu-item>
             </md-menu-content>
         </md-menu>
       </div>
     </md-toolbar>
      <md-table-container>
        <table md-table md-row-select="tps.options.rowSelection" multiple="{{tps.options.multiSelect}}" ng-model="tps.selected" md-progress="tps.promise">
          <thead md-head md-order="tps.query.order" >
            <tr md-row>
              <th md-column md-order-by="name"><span>Nama</span></th>
              <th md-column md-order-by="kecamatan"><span>Alamat</span></th>
              <th md-column >Kontainer</th>
              <th md-column hide-gt-xs show-gt-md md-order-by="createdAt">Dibuat</th>
              <th md-column hide-gt-xs show-gt-md >Wilayah</th>

            </tr>
          </thead>
          <tbody md-body>
            <tr style="cursor:pointer" ng-click="dash.moveToAnotherPage('home.detailtps',{tpsid:item._id})" md-row md-select="item" ng-mouseover="item.myStyle={color:'black',fill:'black'}" ng-mouseleave="item.myStyle={color:'transparent',fill:'transparent'}" md-auto-select="tps.options.autoSelect" ng-repeat="item in tps.listtps | filter:tps.query.filter | orderBy: tps.query.order | limitTo: tps.query.limit : (tps.query.page -1) * tps.query.limit ">
              <td md-cell class="mycell">{{item.name }}</td>
              <td md-cell class="mycell">{{item.address || ""}}</td>
              <td md-cell class="mycell">{{item.container.length || ""}}</td>
              <td md-cell class="mycell" hide-gt-xs show-gt-md>{{item.createdAt | date:'longDate'}}
              </td>
              <td md-cell class="mycell" hide-gt-xs show-gt-md>
                  <md-select ng-disabled="!dash.isSuperAdmin()" ng-model="item.wilayah.name" ng-change="tps.updateTPSData(item)" class="md-no-underline"  aria-label="selectwilayah" flex>
                      <md-option ng-value="wil.name" ng-repeat="wil in tps.listWilayah" >{{wil.name}}</md-option>
                  </md-select>

                <md-menu ng-if="false">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
                      <md-icon class="material-icons mytransparent" ng-style="item.myStyle"  >more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item >
                        <md-button ng-click="dash.moveToAnotherPage('home.detailtps',{tpsid:item._id})">
                          Detail
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="tps.deleteTps(item._id,$index)">
                        Hapus Tps
                      </md-button>
                    </md-menu-item>
                    </md-menu-content>
                </md-menu>
              </td>

            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div ng-if="tps.listtps.length == 0">
        <md-divider ></md-divider>
      <div  layout="column" layout-align="center center">
        <div style="height:100px;text-align:center" layout="row" layout-align="center center">
          <md-icon class="material-icons">list</md-icon>
          <span>Tidak ada data</span>
        </div>
      </div>
      </div>
      <md-table-pagination ng-if="!tps.filter.show" md-limit="tps.query.limit" md-limit-options="tps.limitOption" md-page="tps.query.page" md-total="{{tps.listtps.length}}"  md-page-select="tps.options.pageSelect" ></md-table-pagination>

      <md-table-pagination ng-if="tps.filter.show" md-limit="tps.query.limit" md-limit-options="tps.limitOption" md-page="tps.query.page" md-total="{{tps.tmplisttps.length}}"  ></md-table-pagination>


    </md-card>

</div>
