<div layout="row" layout-sm="column" layout-align="center center" flex id="applogin" ng-if="detail.loader.onProgress">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


<div ng-if="!detail.loader.onProgress &&  detail.loader.success" >
  <div layout="row" id="c1" layout-align="center" style="width:100%;" layout-padding>
    <div class="" flex="10" layout="row" layout-align="center center" layout-padding>
      <div class="md-avatar" style="width:90px;height:90px;">
         <md-icon md-svg-src="/img/LogoTR.svg" style="width:90px;height:90px;" ></md-icon>
      </div>
    </div>
    <div class="" flex>
      <md-list >
         <md-list-item class="md-3-line">
          <div class="md-list-item-text" layout="column" style="font-weight:0;">
            <div layout="row" ng-mouseover="detail.myedit.myStyle[0]={color:'white',fill:'white'}" ng-mouseleave="detail.myedit.myStyle[0]={color:'transparent',fill:'transparent'}">
              <div flex>
                <p style="color:rgb(255,255,255);font-size:19px;padding:10px 10px 3px 5px;font-weight:normal" ng-if="!detail.myedit.name || detail.myedit.name == false">{{detail.tps.name || "Tegal lega"}}</p>
                <input class="myinput profile-input-1" id="name" ng-model="detail.edit.name" type="text"  placeholder="nama tps" ng-if="detail.myedit.name && detail.myedit.name == true" ng-enter="detail.myedit.name=!detail.myedit.name;detail.updateName($event)">
                <span class="bar"></span>
              </div>
              <md-button class="md-icon-button" event-focus="click" event-focus-id="name"  aria-label="edit and done" ng-click="detail.myedit.name=!detail.myedit.name;detail.updateName($event)">
                  <md-icon class="material-icons mytransparent" ng-style="detail.myedit.myStyle[0]">{{detail.myedit.name ? "done":"mode_edit"}}</md-icon>
              </md-button>
            </div>
            <div layout="row" >
              <div flex>
                <p style="color:rgb(255,255,255);font-size:19px;padding:10px 10px 3px 5px;font-weight:normal" ng-if="!detail.myedit.address || detail.myedit.address == false">{{detail.tps.address || "Tegal lega"}}</p>
                <input class="myinput profile-input-1" id="address" ng-model="detail.edit.address" type="text"  placeholder="nama" ng-if="detail.myedit.address && detail.address.name == true" ng-enter="detail.myedit.address=!detail.myedit.address;">
                <span class="bar"></span>
              </div>
            </div>
            <div layout="row"  ng-mouseover="detail.myedit.myStyle[2]={color:'white',fill:'white'}" ng-mouseleave="detail.myedit.myStyle[2]={color:'transparent',fill:'transparent'}">
              <div layout="row" flex ng-mouseover="detail.myedit.myStyle[1]={color:'white',fill:'white'}" ng-mouseleave="detail.myedit.myStyle[1]={color:'transparent',fill:'transparent'}">
                <div flex>
                  <p style="color:rgb(255,255,255);font-size:19px;padding:10px 10px 3px 5px;font-weight:normal" ng-if="!detail.myedit.location || detail.myedit.location == false">{{detail.tps.location[1] || ""}}</p>
                  <input class="myinput profile-input-1" id="location" ng-model="detail.edit.latitude" type="text"  placeholder="latitude" ng-if="detail.myedit.location && detail.myedit.location == true" >
                  <span class="bar"></span>
                </div>

              </div>
              <div layout="row" flex>
                <div flex>
                  <p style="color:rgb(255,255,255);font-size:19px;padding:10px 10px 3px 5px;font-weight:normal" ng-if="!detail.myedit.location || detail.myedit.location == false">{{detail.tps.location[0] || ""}}</p>
                  <input class="myinput profile-input-1" id="location" ng-model="detail.edit.longitude" type="text"  placeholder="longitude" ng-if="detail.myedit.location && detail.myedit.location == true" >
                  <span class="bar"></span>
                </div>

              </div>
              <md-button class="md-icon-button" event-focus="click" event-focus-id="location"  aria-label="edit and done" ng-click="detail.myedit.location=!detail.myedit.location;detail.updateLocation($event)">
                  <md-icon class="material-icons mytransparent" ng-style="detail.myedit.myStyle[2]">{{detail.myedit.location ? "done":"mode_edit"}}</md-icon>
              </md-button>
            </div>

          </div>
        </md-list-item>

      </md-list>
    </div>
  </div>



  <div class="mypadding">
    <md-card >
      <md-toolbar class="md-table-toolbar md-default" ng-hide="detail.filter.show ||  detail.selected.length > 0">
            <div class="md-toolbar-tools">
              <span>Kontainer</span>
              <div flex></div>
              <md-button class="md-icon-button" ng-click="detail.openNewContainer($event)">
                  <md-tooltip md-direction="bottom">
                  tambah
                </md-tooltip>
                <md-icon class="material-icons">add</md-icon>
              </md-button>
              <md-button class="md-icon-button" event-focus="click" event-focus-id="search" ng-click="detail.filter.show = !detail.filter.show">
                <md-tooltip md-direction="bottom">
                cari
              </md-tooltip>
                <md-icon class="material-icons">filter_list</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="detail.refresh($event)">
                <md-tooltip md-direction="bottom">
                refresh
              </md-tooltip>
                <md-icon class="material-icons">refresh</md-icon>
              </md-button>
            </div>
      </md-toolbar>

      <md-toolbar class="md-table-toolbar md-default" ng-hide="!detail.filter.show || detail.selected.length >0">
      <div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
        <form flex name="filter.form" style="margin-left: 16px;">
          <input class="myinput" id="search" type="text" ng-model="detail.query.filter" ng-change="detail.onSearchChange(detail.query.filter)" ng-model-options="detail.filter.options"  placeholder="cari" >
        </form>
        <md-button class="md-icon-button" ng-click="detail.closeFilter()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <md-toolbar class="md-table-toolbar alternate" ng-show="detail.selected.length > 0">
         <div class="md-toolbar-tools">
           <span>{{tps.selected.length}} item dipilih</span>
           <md-menu>
               <md-button aria-label="Open phone interactions menu" class="md-icon-button white" ng-click="$mdMenu.open($event)">
                 <md-icon md-menu-origin="" class="material-icon " style="color: rgb(255,255,255);
      fill: rgb(255,255,255);">more_vert</md-icon>
               </md-button>
               <md-menu-content width="2">
                 <md-menu-item>
                   <md-button ng-click="detail.deleteSelectedKontainer()">
                   Hapus Tps
                 </md-button>
               </md-menu-item>
               </md-menu-content>
           </md-menu>
         </div>
       </md-toolbar>
        <md-table-container>
          <table md-table md-row-select="detail.options.rowSelection" multiple="{{detail.options.multiSelect}}" ng-model="detail.selected" md-progress="detail.promise">
            <thead md-head md-order="detail.query.order" >
              <tr md-row>
                <th md-column md-order-by="tinggi_awal"><span>Tinggi awal</span></th>
                <th md-column md-order-by="tinggi_awal"><span>Volume</span></th>
                <th md-column md-order-by="status"><span>Status</span></th>
                <th md-column >Jarak sensor 1</th>
                <th md-column hide-gt-xs show-gt-md md-order-by="createdAt">Jarak sensor 2</th>
                <th md-column hide-gt-xs show-gt-md md-order-by="updatedAt">Diperbarui</th>

              </tr>
            </thead>
            <tbody md-body>
              <tr  md-row md-select="item"  md-auto-select="detail.options.autoSelect" ng-repeat="item in detail.listcontainer | filter:detail.query.filter | orderBy: detail.query.order | limitTo: detail.query.limit : (detail.query.page -1) * detail.query.limit ">
                <td md-cell class="mycell">{{item.tinggi_awal }} cm</td>
                <td md-cell class="mycell">{{item.ukuran }} </td>
                <td md-cell class="mycell">{{item.status}}</td>
                <td md-cell class="mycell">{{item.sensor.jarak_sensor_1 || "-"}} cm</td>
                <td md-cell class="mycell" hide-gt-xs show-gt-md>{{item.sensor.jarak_sensor_2 || "-"}} cm</td>
                <td md-cell class="mycell" hide-gt-xs show-gt-md>{{item.sensor.updatedAt | date:'medium'}}  </td>

              </tr>
            </tbody>
          </table>
        </md-table-container>
        <div ng-if="detail.listcontainer.length == 0">
          <md-divider ></md-divider>
          <div  layout="column" layout-align="center center">
            <div style="height:100px;text-align:center" layout="row" layout-align="center center">
              <md-icon class="material-icons">list</md-icon>
              <span>Tidak ada data</span>
            </div>
          </div>
        </div>
        <md-table-pagination ng-if="!detail.filter.show" md-limit="detail.query.limit" md-limit-options="detail.limitOption" md-page="detail.query.page" md-total="{{detail.listcontainer.length}}"  md-page-select="detail.options.pageSelect" ></md-table-pagination>

        <md-table-pagination ng-if="detail.filter.show" md-limit="detail.query.limit" md-limit-options="detail.limitOption" md-page="detail.query.page" md-total="{{detail.tmplistcontainer.length}}"  ></md-table-pagination>


      </md-card>

  </div>
</div>



<md-content ng-if="!detail.loader.onProgress &&  !detail.loader.success" class="myborder" layout="column" layout-align="center center">
  <div layout="column" layout-align="center center">
    <div class="my-avatar" layout="column" layout-align="center center">
      <md-icon md-svg-src="/img/not-found.svg" class="welcome-icon" style="margin:0;" aria-label="Add"></md-icon>
    </div>
    <div class="welcome-text">
      <h1 class="welcome-title">{{detail.errormsg.title}}</h1>
      <div class="welcome-desc">{{detail.errormsg.msg}}</div>
    </div>
  </div>
</md-content>
