<div class="full-page">
  <div class="full-page" map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="{{live.googlemaps.url}}" >
    <ng-map class="full-page" center="-6.9311323,107.6221295" zoom="13" >
       <marker ng-if="live.isHaveContainer(tps)" icon="/img/{{live.checkStatus(tps)}}.png"  ng-repeat="tps in live.listtps" position="[{{tps.location[1]}},{{tps.location[0]}}]" title="{{tps.name}}" id="{{tps._id}}" animation="{{live.getAnimation(tps)}}" on-click="live.showDetailTps()"></marker>

       <info-window id="tpsdetail">
         <md-card class="customdetailtps" >
             <div style="width:100%;height:100%;" >
                  <md-card-header style="padding:0;margin:0">
                    <h1 class="md-headline percentage" >{{live.detail.percentage}}</h1>
                     <div class="container-wrapper">
                           <div class="wave" ng-style="live.detail.style">
                           </div>
                     </div>
                  </md-card-header>
                 <md-card-title  >
                 <md-card-title-text>
                   <span class="md-headline">{{live.detail.name}}</span>
                 </md-card-title-text>
               </md-card-title>
               <md-card-content>
                   <p>
                       volume : {{live.detail.container[0].ukuran }}
                   </p>
                <p>
                  {{live.detail.address}}
                </p>
              </md-card-content>
             </div>
         </md-card>
       </info-window>

        <div class="">
          <md-button ng-style="dash.showleftmenu.style" class="md-fab md-mini md-primary showhideicon" ng-click="dash.checkLeft()">
                 <md-icon class="material-icons">{{dash.showleftmenu.status ? 'chevron_right' : 'chevron_left'}}</md-icon>
          </md-button>
          <md-card class="my-side" ng-if="dash.showleftmenu.status">
            <md-content>
              <md-list>
                <md-list-item >
                  <input  class="myinput" placeholder="Cari" ng-model="filtertps" style="border:solid 1px rgba(0,0,0,0.12)" layout-padding>
                </md-list-item>

                <md-list-item ng-click="live.showBounce(tps)"  ng-repeat="tps in live.listtps |filter:filtertps" >
                   <p>{{tps.name}}</p>
                </md-list-item>

            </md-content>
          </md-card>
        </div>

    </ng-map>
  </div>
</div>
