/* styles in src/style directory are applied to the whole page */
*::-webkit-scrollbar {
    width: 6px!important;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}

.my-primary-color{
    background-color: rgb(76,175,80);;
}

.full-page{
  width:100%;height:100%;
}

.tbl-tittle{
    color: white;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.tbl-trr{
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    text-align: center;
}

.white{
  color: rgb(255,255,255);
  fill: rgb(255,255,255);
}

.mytransparent{
  color: transparent;
  fill: transparent;
}

.green{
  color:#4CAF50;;
  fill:#4CAF50;
}

.mysize{
  font-weight: 0;
}
.mylabel{
  color:rgba(0,0,0,0.54);
  font-weight:normal;
  margin:0;
  font-style: italic;
  font-size: 13px;
}

.myinput{
 display:block;
 width:100%;
 background-color: inherit;
 border:none;
 letter-spacing: .01em;
}

.profile-input-1{
    padding:10px 10px 3px 5px;
    font-size:19px;
    color: #FFFFFF;
    line-height: 1.6em;
}

.profile-input-2{
  padding:10px 10px 8px 0px;
  font-size: 16px;
  color: rgba(0,0,0,0.87);
  line-height: 1.2em;
}

.myinput:focus 		{ outline:none; }

.myinput::-webkit-input-placeholder {
  color: rgba(0,0,0,0.54);
  font-weight: normal;
}
.myinput:-moz-placeholder {
  color: rgba(0,0,0,0.54);
}

.myinput:focus ~ label, .myinput:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#FFFFFF;
}

.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#FFFFFF;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

.bar2 	{ position:relative; display:block; width:300px; }
.bar2:before, .bar2:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#4CAF50;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar2:before {
  left:50%;
}
.bar2:after {
  right:50%;
}

/* active state */
.myinput:focus ~ .bar:before, .myinput:focus ~ .bar:after {
  width:50%;
}

.myinput:focus ~ .bar2:before, .myinput:focus ~ .bar2:after {
  width:50%;
}

/**
*login css
*/

#applogin{
  height: 100%;
  min-height: 100%;
  width: 100%;
}

#c1 {
 background-color: #4CAF50;
}
#c2 {
  background-color : #E0F2F1;
}

#totop{
	margin-top: -140px;

}

#margin-0{
  marin:0;
}

.white{
	color:rgb(255,255,255);
}

.blue{
  color: #2196F3;
}

.red{
  color:#F44336;
}

.loginbottom{
	color: #84a2bc;
    font-size: 13px;
    line-height: 16px;
    margin-top: 25px;
    text-align: center;
}

.clickable{
    cursor: pointer;
}

.myborder{
  width: 100%;
  height: 100%;
}

.my-avatar{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e1e9eb;
}

.welcome-icon{
  height: 200px;
  width: 200px;
}


.welcome-text{
  text-align: center;
  align-items: center;
  margin: 0;
}

.welcome-title{
  color: #8f9b9e;
  font-size: 30px;
  font-weight: 300;
  margin:0;
  margin-top:30px;
}
.welcome-desc{
  font-size: 14px;
  color: #929fa6;
  line-height: 20px;
  margin-top: 15px;
}

/*welcome*/
.myborder:after{
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 6px solid #58e870;
    width: 100%;
    height: 0;
}


.mypadding{
  margin:20px;
}

.font-x-web-large{
      font-size: -webkit-xxx-large;
}


.gray {
  background: #f5f5f5;
 }

.green2 {
  background: #b9f6ca;
  color:#ff8a80;
}

.yellow {
  background: #ffff8d;
  color:#b388ff;
 }

.lightpurple{
  background: #80d8ff;
  color:white;
}

.purple {
  background: #b388ff;
  /*color:#ffff8d;*/
  color:white;
 }

.red {
  background: #ff8a80;
  color:white;
 }
.river{
  background: #4CAF50;
  color:white;
}
.torque{
  background: #1abc9c;
}

/*live */
.my-side{
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 15%;
  margin:0;
  right: 0;
  background-color: rgb(250,250,250);
}

.showhideicon{
  position: fixed;
  z-index: 100;
}

.customdetailtps{
  width: 200px;
  z-index: 100;
  margin:0;
}

.section1{
  background: #1abc9c;
}

.section2{
  background: #3498db;
}

.container-wrapper{
  width: 100%;
  height: 100px;
  background: #bdc3c7;
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 100;
}

.percentage{
    margin-top: 41px;
    width: 200px;
    font-size: 30px;
    color: white;
    position: absolute;
    z-index: 1000;
    text-align: center;
}

.wave{
  height: 50px;
  position: absolute;
  width: 200px;
  background-color: #F44336;
  margin-top:50px;
}

/*about*/

.image-about{
    height: 150px;
    width: 150px;
    align-items: center;
}

.person-image{
    max-width: 100px;
    width: 75%;
    -webkit-box-shadow: 0px 3px 12px rgba(229, 229, 229, 0.44);
    -moz-box-shadow: 0px 3px 12px rgba(229, 229, 229, 0.44);
    -o-box-shadow: 0px 3px 12px rgba(229, 229, 229, 0.44);
    box-shadow: 0px 3px 12px rgba(229, 229, 229, 0.44);
    border-radius: 50%;
}

.no-decoration{
    text-decoration: none;
}

.copyright{
    text-align: center;
    color: #7e7e7e;
    font-size: 12px;
    font-family: 'Open Sans', arial, sans-serif;
}

.person-name{
    color: #01579B;
    font-size: 15px;
}
.photo{
    height: 100px;
    width: 100px;
    align-items: center;
}