<div layout="column"  ng-cloak style="height:100%;" >
  <section layout="row" flex>
    <md-sidenav
        ng-show="dash.showmenu"
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="1">

      <md-toolbar>
        <div class="md-toolbar-tools" >

          <md-icon md-svg-src="/img/LogoTR.svg"  class="white" style="margin:0;" aria-label="Add"></md-icon>
          <h2 flex>
            <span>Trash Rescue</span>
          </h2>

          <md-button class="md-icon-button" aria-label="Icon" hide-gt-md ng-click="dash.toggleLeft()">
              <md-icon class="material-icons" >chevron_left</md-icon>
          </md-button>


        </div>
      </md-toolbar>

      <md-content flex  >

        <md-content layout-padding>
           <md-list>
              <md-subheader class="md-no-sticky" style="background-color:rgb(255, 255, 255);">Live</md-subheader>


                <md-list-item ui-sref="home.livetps">
                <md-icon class="material-icons">track_changes</md-icon>
                <p>TPS</p>
              </md-list-item>
              <!--<md-list-item ng-click="goTopAnotherPage('dash.distribusi');">
                <md-icon class="md-default-theme" class="material-icons">wifi_tethering</md-icon>
                <p>Sensor</p>
              </md-list-item>-->

                 <md-divider></md-divider>
              <md-subheader class="md-no-sticky" style="background-color:rgb(255, 255, 255);">Data</md-subheader>
              <md-list-item ui-sref="home.data">
               <md-icon  class="material-icons">dashboard</md-icon>
               <p>Dashboard</p>
               <md-icon class="md-secondary">2</md-icon>
             </md-list-item>
               <md-list-item ui-sref="home.datatps">
                <md-icon  class="material-icons">delete</md-icon>
                <p>TPS</p>
                <md-icon class="md-secondary">2</md-icon>
              </md-list-item>
              <md-list-item ui-sref="home.datasensor">
               <md-icon  class="material-icons">wifi_tethering</md-icon>
               <p>Sensor</p>
               <md-icon class="md-secondary">2</md-icon>
             </md-list-item>
             <md-list-item ui-sref="home.datapetugas">
              <md-icon  class="material-icons">people</md-icon>
              <p>Petugas</p>
              <md-icon class="md-secondary">2</md-icon>
            </md-list-item>

            <md-list-item ng-if="dash.isSuperAdmin()" ui-sref="home.dataadmin">
             <md-icon  class="material-icons">person</md-icon>
             <p>Administrator</p>
             <md-icon class="md-secondary">2</md-icon>
           </md-list-item>

           <md-list-item ng-if="dash.isSuperAdmin()" ng-click="dash.openWilayah()">
               <md-icon  class="material-icons">map</md-icon>
               <p>Wilayah</p>
               <md-icon class="md-secondary">2</md-icon>
           </md-list-item>

              <md-divider></md-divider>
              <md-subheader class="md-no-sticky" style="background-color:rgb(255, 255, 255);">Analytics</md-subheader>

              <md-list-item ui-sref="home.statistik">
                <md-icon  class="material-icons">show_chart</md-icon>
                <p>Pengangkutan</p>
              </md-list-item>
            <!--  <md-list-item ng-click="goTopAnotherPage('dash.statis');">
                <md-icon class="md-default-theme" class="material-icons">thumb_up</md-icon>
                <p>Rekomendasi</p>
              </md-list-item>-->
          </md-list>
        </md-content>

      </md-content>
    </md-sidenav>
    <md-content flex >
      <div layout="column" layout-fill layout-align="top center">
          <md-toolbar>
          <div class="md-toolbar-tools">

             <md-button class="md-icon-button" aria-label="Icon" hide-gt-md ng-click="dash.toggleLeft()">
              <md-icon class="material-icon" >menu</md-icon>
            </md-button>


            <md-button class="md-icon-button" aria-label="Icon2" hide-xs hide-gt-xs hide-sm hide-gt-sm hide-md show-gt-md ng-click="dash.showmenu = !dash.showmenu">
                <md-icon class="material-icons" >menu</md-icon>
            </md-button>
            <h2 flex md-truncate>
              <span>{{online ? dash.getTitleName(currentState.name) : "Menyambungkan..."}}</span>
            </h2>

            <md-button aria-label="Open phone interactions menu" ng-click="dash.openProfile($event)">
              <md-icon md-menu-origin="" class="material-icon">account_circle</md-icon>
              {{dash.username}}
            </md-button>

        <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon md-menu-origin="" class="material-icon">more_horiz</md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="dash.openTentang($event)" >
                  Tentang
                </md-button>
              </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="dash.openBantuan()">
                  Bantuan
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="dash.openPengaturan($event)">
                Pengaturan
              </md-button>
            </md-menu-item>
              <md-menu-item>
                <md-button ng-click="dash.signOut()">
                Keluar
              </md-button>
            </md-menu-item>

            </md-menu-content>
        </md-menu>

          </div>
        </md-toolbar>
        <md-content ng-if="currentState.name == 'home'" class="myborder" layout="column" layout-align="center center">
          <div layout="column" layout-align="center center">
            <div class="my-avatar" layout="column" layout-align="center center">
              <md-icon md-svg-src="/img/LogoTR-2.svg" class="welcome-icon" style="margin:0;" aria-label="Add"></md-icon>
            </div>
            <div class="welcome-text">
              <h1 class="welcome-title">Selamat datang di Trash Rescue</h1>
              <div class="welcome-desc">Platform Trash Rescue siap, Trash Rescue siap menangani masalah sampah. <br>&copy Gula Jawa</div>
            </div>
          </div>
        </md-content>
        <md-content ng-if="currentState.name != 'home'"  class="myborder" >
          <ui-view md-padding ></u-view>

        </md-content>

      </div>

    </md-content>

  </section>
</div>
