<div layout="row" id="applogin">
    <div layout="column" flex>

      <div flex="35" id="c1"></div>
      <div flex  layout="row" layout-align="center start" >
         <div layout="column" id="totop" >

              <div layout="row" layout-align="space-between center" style="width:430px;">
                    <span class="md-title white" style="padding: 10px 28px;font-weight: normal;">Trash Rescue</span>
                  <md-button aria-label="next" class="white" ng-click="login.enterLogin($event)">
                    lanjut
                    <md-icon md-font-set="material-icons" class="white">navigate_next</md-icon>
                  </md-button>
              </div>

               <md-card class="md-whiteframe-1dp" style="padding:30px 38px;width:430px;">
                  <md-card-title layout-padding>
                    <md-card-title-text>
                      <span class="md-headline">Masuk</span>
                      <span class="md-subhead">Masukan akses administrator.</span>
                    </md-card-title-text>
                  </md-card-title>
                  <form name="loginForm" ng-submit="login.enterLogin($event)">
                    <md-card-content layout="column">

                      <md-input-container>
                        <label>Email atau username</label>
                        <input name="email" type="text" ng-model="login.user.email" ng-model-options="{ debounce: 1000 }" ng-change="login.checkOnChange($event)" ng-enter="login.focus('password')">

                      </md-input-container>
                      <md-input-container>
                        <label>Kata sandi</label>
                        <input id="password" name="password" ng-model="login.user.password"  ng-model-options="{ debounce: 1000 }" type="password" ng-change="login.checkOnChange($event)" ng-enter="login.enterLogin($event)">

                      </md-input-container>


                    </md-card-content>
                  </form>

              </md-card>

              <div style="width:430px;text-align:center;">
                <p class="loginbottom">lupa kata sandi ? <a class="clickable blue" ng-click="login.showResetPassword($event)">atur ulang kata sandi.</a></p>
              </div>

        </div>
    </div>
  </div>
