<md-dialog aria-label="Profile">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
      <div class="md-toolbar-tools">
        <h2>Tps baru</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="newtps.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">

      <md-content layout-padding>
      <md-list style="padding:0;margin:0;">

        <md-list-item class="md-1-line"  >
          <md-icon class="material-icons"></md-icon>
          <div class="md-list-item-text">
            <input class="myinput profile-input-2" id="name" type="text" ng-model="newtps.baru.name" placeholder="nama tps"  ng-enter="newtps.focus('latitude')">
            <span class="bar2"></span>
          </div>
        </md-list-item>

        <md-list-item class="md-1-line"  >
          <md-icon class="material-icons">location_on</md-icon>
          <div class="md-list-item-text">
            <input class="myinput profile-input-2" id="latitude" type="text" ng-model="newtps.baru.latitude" placeholder="latitude"  ng-enter="newtps.focus('longitude')">
            <span class="bar2"></span>
          </div>
        </md-list-item>

       	   <md-list-item class="md-1-line" >
	          <md-icon class="material-icons " >location_on</md-icon>
	          <div class="md-list-item-text" >
            <input class="myinput profile-input-2" id="longitude" type="text" ng-model="newtps.baru.longitude" placeholder="longitude"  ng-enter="newtps.focus('container')">
              <span class="bar2"></span>
	          </div>
	        </md-list-item>

          <md-list-item class="md-1-line" >
           <md-icon class="material-icons " >label</md-icon>
           <div class="md-list-item-text" >
           <input class="myinput profile-input-2" id="container" type="number" ng-model="newtps.baru.container" placeholder="jumlah kontainer"  ng-enter="newtps.addNew($event)">
             <span class="bar2"></span>
           </div>
         </md-list-item>

          <md-list-item class="md-1-line" >
              <md-icon class="material-icons">map</md-icon>
              <div class="md-list-item-text" style="width: 100%;">
                  <md-select ng-disabled="newtps.baru.disable" ng-model="newtps.baru.namawilayah" class="md-no-underline" placeholder="pilih wilayah" aria-label="selectbyyear" flex>
                      <md-option  ng-value="myval.name" ng-repeat="myval in newtps.listWilayah" >{{myval.name}}</md-option>
                  </md-select>
              </div>
          </md-list-item>

       </md-list>
     </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="background-color:rgb(250,250,250)">
      <span flex></span>
      <md-button class="md-primary" ng-click="newtps.addNew($event)">
        Simpan
      </md-button>
    </md-dialog-actions>

</md-dialog>
