<md-dialog aria-label="Profile">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
      <div class="md-toolbar-tools">
        <h2>Petugas baru</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="newpetugas.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">
      <md-list style="padding:0;">
		     <md-list-item class="md-2-line" id="c1" >
           <div class="md-avatar" style="width:58px;height:58px;" >
               <md-icon md-menu-origin="" class="material-icon white" style="font-size:58px">account_circle</md-icon>
           </div>

          <div class="md-list-item-text" layout="column" style="font-weight:0;">
            <div layout="row">
              <div flex>
                <input class="myinput profile-input-1" id="name" ng-model="newpetugas.baru.name" type="text"  placeholder="nama"  ng-enter="newpetugas.focus('no_hp')">
                <span class="bar"></span>
              </div>

            </div>

          </div>
        </md-list-item>

      </md-list>

      <md-content layout-padding>
      <md-list style="padding:0;margin:0;">
        <md-list-item class="md-1-line"  >
          <md-icon class="material-icons">phone</md-icon>
          <div class="md-list-item-text">
            <input class="myinput profile-input-2" id="no_hp" type="text" ng-model="newpetugas.baru.no_hp" placeholder="nomor hp (+62)"  ng-enter="newpetugas.focus('email')">
            <span class="bar2"></span>
          </div>
        </md-list-item>

       	   <md-list-item class="md-1-line" >
	          <md-icon class="material-icons " >email</md-icon>
	          <div class="md-list-item-text" >
            <input class="myinput profile-input-2" id="email" type="email" ng-model="newpetugas.baru.email" placeholder="email"  ng-enter="newpetugas.addNew($event)">
              <span class="bar2"></span>
	          </div>
	        </md-list-item>

          <md-list-item class="md-1-line" >
              <md-icon class="material-icons">map</md-icon>
              <div class="md-list-item-text" style="width: 100%;">
                  <md-select ng-disabled="newpetugas.baru.disable" ng-model="newpetugas.baru.namawilayah" class="md-no-underline" placeholder="pilih wilayah" aria-label="selectbyyear" flex>
                      <md-option  ng-value="myval.name" ng-repeat="myval in newpetugas.listWilayah" >{{myval.name}}</md-option>
                  </md-select>
              </div>
          </md-list-item>

       </md-list>
     </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="background-color:rgb(250,250,250)">
      <span flex></span>
      <md-button class="md-primary" ng-click="newpetugas.addNew($event)">
        Simpan
      </md-button>
    </md-dialog-actions>

</md-dialog>
