<md-dialog aria-label="Profile">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
      <div class="md-toolbar-tools">
        <h2>Admin baru</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="newadmin.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">
      <md-list style="padding:0;">
		     <md-list-item class="md-2-line" id="c1" >
           <div class="md-avatar" style="width:58px;height:58px;" >
               <md-icon md-menu-origin="" class="material-icon white" style="font-size:58px">account_circle</md-icon>
           </div>

          <div class="md-list-item-text" layout="column" style="font-weight:0;">
            <div layout="row">
              <div flex>
                <input class="myinput profile-input-1" id="name" ng-model="newadmin.baru.name" type="text"  placeholder="nama"  ng-enter="newadmin.focus('email')">
                <span class="bar"></span>
              </div>

            </div>

          </div>
        </md-list-item>

      </md-list>

      <md-content layout-padding>
      <md-list style="padding:0;margin:0;">
       	   <md-list-item class="md-1-line" >
	          <md-icon class="material-icons " >email</md-icon>
	          <div class="md-list-item-text" >
            <input class="myinput profile-input-2" id="email" type="email" ng-model="newadmin.baru.email" placeholder="email"  ng-enter="newadmin.focus('username')">
              <span class="bar2"></span>
	          </div>
	        </md-list-item>
	        <md-list-item class="md-1-line"  >
	          <md-icon class="material-icons">person_pin</md-icon>
	          <div class="md-list-item-text">
              <input class="myinput profile-input-2" id="username" type="text" ng-model="newadmin.baru.username" placeholder="username"  ng-enter="newadmin.focus('password')">
              <span class="bar2"></span>
	          </div>
	        </md-list-item>
          <md-list-item class="md-1-line"  >
           <md-icon class="material-icons">vpn_key</md-icon>
            <div class="md-list-item-text">
               <input class="myinput profile-input-2" id="password" type="password" ng-model="newadmin.baru.password" placeholder="kata sandi"  ng-enter="newadmin.addNew($event)">
              <span class="bar2"></span>
            </div>
        </md-list-item>

          <md-list-item class="md-1-line" >
              <md-icon class="material-icons">lock</md-icon>
              <div class="md-list-item-text" style="width: 100%;">
                  <md-select ng-model="newadmin.baru.role" class="md-no-underline"  aria-label="selectbyyear" flex>
                      <md-option ng-value="myval" ng-repeat="myval in newadmin.listRole" >{{myval}}</md-option>
                  </md-select>
              </div>
          </md-list-item>

          <md-list-item class="md-1-line" ng-if="newadmin.baru.role == newadmin.listRole[2]">
              <div class="md-list-item-text" style="width: 100%;">
                  <md-autocomplete
                          flex
                          ng-disabled="newadmin.autocomplate.isDisabled"
                          md-no-cache="newadmin.autocomplate.isNoCache"
                          md-selected-item="newadmin.autocomplate.selectedItem"
                          md-search-text="newadmin.autocomplate.searchText"
                          md-selected-item-change="newadmin.onItemSelected(item)"
                          md-items="item in newadmin.listWilayah | filter:newadmin.autocomplate.searchText"
                          md-item-text="item.name"
                          md-min-length="0"
                          placeholder="Pilih Wilayah">
                      <md-item-template>
                          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                      </md-item-template>
                      <md-not-found>
                          "{{profile.autocomplate.searchText}}" tidak ditemukan.
                      </md-not-found>
                  </md-autocomplete>
              </div>
          </md-list-item>

       </md-list>
     </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="background-color:rgb(250,250,250)">
      <span flex></span>
      <md-button class="md-primary" ng-click="newadmin.addNew($event)">
        Simpan
      </md-button>
    </md-dialog-actions>

</md-dialog>
