<md-dialog aria-label="New Kontainer">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
      <div class="md-toolbar-tools">
        <h2>Kontainer baru</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="newcontainer.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">

      <md-content layout-padding>
      <md-list style="padding:0;margin:0;">

        <md-list-item class="md-1-line"  >
          <md-icon class="material-icons">label</md-icon>
          <div class="md-list-item-text">
            <input class="myinput profile-input-2" id="jumlah" type="number" ng-model="newcontainer.baru.jumlah" placeholder="jumlah"  ng-enter="newcontainer.focus('tinggi')">
            <span class="bar2"></span>
          </div>
        </md-list-item>

        <md-list-item class="md-1-line"  >
          <md-icon class="material-icons">label</md-icon>
          <div class="md-list-item-text">
            <input class="myinput profile-input-2" id="tinggi" type="number" ng-model="newcontainer.baru.tinggi_awal" placeholder="tinggi awal (optional)" >
            <span class="bar2"></span>
          </div>
        </md-list-item>

          <md-list-item class="md-1-line"  >
              <md-icon class="material-icons">label</md-icon>
              <div class="md-list-item-text">
                  <input class="myinput profile-input-2" id="ukuran" type="text" ng-model="newcontainer.baru.ukuran" placeholder="ukuran (optional)" >
                  <span class="bar2"></span>
              </div>
          </md-list-item>

       </md-list>
     </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="background-color:rgb(250,250,250)">
      <span flex></span>
      <md-button class="md-primary" ng-click="newcontainer.addNew($event)">
        Simpan
      </md-button>
    </md-dialog-actions>

</md-dialog>
