<md-dialog aria-label="New Sensor">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
        <div class="md-toolbar-tools">
            <h2>Sensor Baru</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="newsensor.close()">
                <md-tooltip md-direction="bottom">
                    tutup
                </md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">

        <md-content layout-padding>
            <md-list style="padding:0;margin:0;">

                <md-list-item class="md-1-line"  >

                    <md-autocomplete
                            flex
                            ng-disabled="newsensor.autocomplate.isDisabled"
                            md-no-cache="newsensor.autocomplate.isNoCache"
                            md-selected-item="newsensor.autocomplate.selectedItem"
                            md-search-text="newsensor.autocomplate.searchText"
                            md-selected-item-change="newsensor.onItemSelected(item)"
                            md-items="item in newsensor.listTps | filter:newsensor.autocomplate.searchText"
                            md-item-text="item.name"
                            md-min-length="0"
                            placeholder="Pilih TPS ">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            "{{newsensor.autocomplate.searchText}}" tidak ditemukan.
                        </md-not-found>
                    </md-autocomplete>
                    <!--<div class="md-list-item-text">
                        <input class="myinput profile-input-2" id="name" type="text" ng-model="newsensor.baru.address" placeholder="alamat sensor"  >
                        <span class="bar2"></span>
                    </div>-->
                </md-list-item>

                <md-list-item class="md-1-line" >

                    <div class="md-list-item-text" style="width: 100%;">
                        <md-select ng-model="newsensor.baru.namawilayah" ng-disabled="newsensor.baru.disable" class="md-no-underline" placeholder="pilih wilayah"  aria-label="selectbyyear" flex>
                            <md-option ng-value="myval.name" ng-repeat="myval in newsensor.listWilayah" >{{myval.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>

            </md-list>
        </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="background-color:rgb(250,250,250)">
        <span flex></span>
        <md-button class="md-primary" ng-click="newsensor.addNew()">
            Simpan
        </md-button>
    </md-dialog-actions>

</md-dialog>
