<md-dialog aria-label="Petugas">
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Petugas</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="profile.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" >

      <md-nav-bar
      layout-align="center"
      md-selected-nav-item="profile.currentPage"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1">
        Info
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="page2">
        Tps
      </md-nav-item>
      <md-nav-item  md-nav-click="goto('page3')" name="page3">
        Tugas
      </md-nav-item>

    </md-nav-bar>

      <md-content layout-padding ng-show="profile.currentPage == 'page1' ">
      <md-list >
       	     <md-list-item class="md-2-line" >
	          <md-icon class="material-icons " >person_pin</md-icon>

	          <div class="md-list-item-text" >

              <h3 class="profile-input-2"  ng-if="!profile.myedit.name || profile.myedit.name == false">{{profile.user.name || "nama petugas"}}</h3>
              <input class="myinput profile-input-2" id="name" type="text" ng-model="profile.edit.name" placeholder="nama" ng-if="profile.myedit.name && profile.myedit.name == true" ng-enter="profile.myedit.name=!profile.myedit.name;profile.updateEmail($event)">
              <span class="bar2"></span>
	            <p>nama</p>
	          </div>

             <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="name"  aria-label="edit and done" ng-click="profile.myedit.name=!profile.myedit.name;profile.updateName($event)">
                 <md-icon class="material-icons green" >{{profile.myedit.name ? "done":"mode_edit"}}</md-icon>
             </md-button>
	        </md-list-item>
	        <md-list-item class="md-2-line"  >
	          <md-icon class="material-icons">phone</md-icon>

	          <div class="md-list-item-text">
              <h3 class="profile-input-2"  ng-if="!profile.myedit.no_hp || profile.myedit.no_hp == false">{{profile.user.no_hp || "14045"}}</h3>
              <input class="myinput profile-input-2" id="no_hp" type="text" ng-model="profile.edit.no_hp" placeholder="nomor hp" ng-if="profile.myedit.no_hp && profile.myedit.no_hp == true" ng-enter="profile.myedit.no_hp=!profile.myedit.no_hp;profile.updateUsername($event)">
              <span class="bar2"></span>
	            <p>nomor hp</p>
	          </div>
            <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="no_hp"  aria-label="edit and done" ng-click="profile.myedit.no_hp=!profile.myedit.no_hp;profile.updatePhoneNumber($event)">
                <md-icon class="material-icons green" >{{profile.myedit.no_hp ? "done":"mode_edit"}}</md-icon>
            </md-button>
	        </md-list-item>

          <md-list-item class="md-2-line"  >
           <md-icon class="material-icons">email</md-icon>

            <div class="md-list-item-text">
              <h3 class="profile-input-2"  ng-if="!profile.myedit.email || profile.myedit.email == false">{{profile.user.email || "tidak ada email"}}</h3>
              <input class="myinput profile-input-2" id="email" type="email" ng-model="profile.edit.email" placeholder="email" ng-if="profile.myedit.email && profile.myedit.email == true" ng-enter="profile.myedit.email=!profile.myedit.email;profile.updatePassword($event)">
              <span class="bar2"></span>
              <p>email</p>
            </div>

          <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="email"  aria-label="edit and done" ng-click="profile.myedit.email=!profile.myedit.email;profile.updateEmail($event)">
              <md-icon class="material-icons green" >{{profile.myedit.email ? "done":"mode_edit"}}</md-icon>
          </md-button>
        </md-list-item>

          <md-list-item class="md-2-line"  ng-if="profile.user.id_telegram">
            <md-icon md-svg-src="/img/telegram.svg" ></md-icon>

            <div class="md-list-item-text">
              <h3>{{profile.user.id_telegram|| "tes"}}</h3>
              <p>id telegram </p>
            </div>

          </md-list-item>

          <md-list-item class="md-2-line" >
              <md-icon class="material-icons">map</md-icon>
              <div class="md-list-item-text" style="width: 100%;">
                  <md-select style="margin:0" ng-disabled="profile.user.disable" ng-change="profile.updateWilayah($event)" ng-model="profile.user.wilayah.name" class="md-no-underline" placeholder="Pilih wilayah" aria-label="selectbyyear" flex>
                      <md-option  ng-value="myval.name" ng-repeat="myval in profile.listWilayah" >{{myval.name}}</md-option>
                  </md-select>
                  <p>wilayah</p>
              </div>
          </md-list-item>

       </md-list>

       </md-content>

         <md-content layout-padding ng-show="profile.currentPage == 'page2' " style="width:450px">

           <div layout="row">
             <md-autocomplete
                flex
                ng-disabled="profile.autocomplate.isDisabled"
                md-no-cache="profile.autocomplate.isNoCache"
                md-selected-item="profile.autocomplate.selectedItem"
                md-search-text="profile.autocomplate.searchText"
                md-selected-item-change="profile.onItemSelected(item)"
                md-items="item in profile.listTps | filter:profile.autocomplate.searchText"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="Pilih TPS ">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
              </md-item-template>
              <md-not-found>
                "{{profile.autocomplate.searchText}}" tidak ditemukan.
              </md-not-found>
            </md-autocomplete>
            <md-button class="md-secondary md-icon-button"  aria-label="edit and done" ng-click="profile.tambahTps()">
                <md-icon class="material-icons green" >add</md-icon>
            </md-button>
           </div>

           <md-list>
             <md-list-item class="md-1-line" ng-repeat="tps in profile.user.tps">
                 <p> {{tps.name}} </p>
                 <md-button class="md-secondary md-icon-button"  ng-click="profile.hapusTps(tps._id,$index)">
                     <md-icon class="material-icons green" >delete</md-icon>
                 </md-button>
             </md-list-item>
           </md-list>
         </md-content>

         <md-content layout-padding ng-if="profile.currentPage == 'page3' " style="width:450px">
           <md-list>
             <md-list-item class="md-1-line" ng-repeat="tps in profile.listJob">
                 <p> {{tps.name}} </p>
                 <md-button class="md-secondary md-icon-button"  ng-click="profile.hapusTugas(tps._id,$index);">
                     <md-icon class="material-icons green" >delete</md-icon>
                 </md-button>
             </md-list-item>
           </md-list>
         </md-content>


    </md-dialog-content>


</md-dialog>
