<md-dialog aria-label="Pengaturan">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
        <div class="md-toolbar-tools">
            <h2>Pengaturan</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="pengaturan.close()">
                <md-tooltip md-direction="bottom">
                    tutup
                </md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">

        <md-content layout-padding>
            <md-list style="padding:0;margin:0;">
                <md-list-item >
                    <md-icon class="material-icons">delete</md-icon>
                    <p>Data TPS</p>
                    <md-checkbox class="md-secondary" ng-model="pengaturan.selected.tps"></md-checkbox>
                </md-list-item>
                <md-list-item >
                    <md-icon class="material-icons">wifi_tethering</md-icon>
                    <p>Data Sensor</p>
                    <md-checkbox class="md-secondary" ng-model="pengaturan.selected.sensor"></md-checkbox>
                </md-list-item>
                <md-list-item >
                    <md-icon class="material-icons">people</md-icon>
                    <p>Data Petugas</p>
                    <md-checkbox class="md-secondary" ng-model="pengaturan.selected.petugas"></md-checkbox>
                </md-list-item>
                <md-list-item >
                    <md-icon class="material-icons">show_chart</md-icon>
                    <p>Data Pengangkutan</p>
                    <md-checkbox class="md-secondary" ng-model="pengaturan.selected.angkut"></md-checkbox>
                </md-list-item>
                <md-list-item class="md-1-line" style="margin-top:5px">
                    <md-icon class="material-icons " >vpn_key</md-icon>
                    <div class="md-list-item-text" >
                        <input class="myinput profile-input-2"  type="password" ng-model="pengaturan.password" placeholder="Kata sandi"  ng-enter="pengaturan.hapusData()">
                        <span class="bar2"></span>
                    </div>
                </md-list-item>

            </md-list>
        </md-content>
        <div layout-fill>
            <md-button ng-disabled="pengaturan.isdisabled()"  layout-fill class="md-raised md-primary" ng-click="pengaturan.hapusData()">Hapus Data Dipilih</md-button>
        </div>
    </md-dialog-content>

    
</md-dialog>
