l<md-dialog aria-label="Profile">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
      <div class="md-toolbar-tools">
        <h2>Profil {{profile.user.role}}</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="profile.close()">
        	<md-tooltip md-direction="bottom">
          tutup
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">
      <md-list style="padding:0;">
		     <md-list-item class="md-2-line" id="c1" >
           <div class="md-avatar" style="width:58px;height:58px;" >
               <md-icon md-menu-origin="" class="material-icon white" style="font-size:58px">account_circle</md-icon>
           </div>

          <div class="md-list-item-text" layout="column" style="font-weight:0;">
            <div layout="row">
              <div flex>
                <p style="color:rgb(255,255,255);font-size:19px;padding:10px 10px 3px 5px;font-weight:normal" ng-if="!profile.myedit.name || profile.myedit.name == false">{{profile.user.name || ""}}</p>
                <input class="myinput profile-input-1" id="name" ng-model="profile.edit.name" type="text"  placeholder="nama" ng-if="profile.myedit.name && profile.myedit.name == true" ng-enter="profile.myedit.name=!profile.myedit.name;profile.updateName($event)">
                <span class="bar"></span>
              </div>
              <md-button class="md-icon-button" event-focus="click" event-focus-id="name"  aria-label="edit and done" ng-click="profile.myedit.name=!profile.myedit.name;profile.updateName($event)">
                  <md-icon class="material-icons white" >{{profile.myedit.name ? "done":"mode_edit"}}</md-icon>
              </md-button>
            </div>

          </div>
        </md-list-item>

      </md-list>

      <md-content layout-padding>
      <md-list style="padding:0;margin:0;">
       	     <md-list-item class="md-2-line" >
	          <md-icon class="material-icons " >email</md-icon>

	          <div class="md-list-item-text" >

              <h3 class="profile-input-2"  ng-if="!profile.myedit.email || profile.myedit.email == false">{{profile.user.email || "muharizals@arizalsaputro.net"}}</h3>
              <input class="myinput profile-input-2" id="email" type="email" ng-model="profile.edit.email" placeholder="email" ng-if="profile.myedit.email && profile.myedit.email == true" ng-enter="profile.myedit.email=!profile.myedit.email;profile.updateEmail($event)">
              <span class="bar2"></span>
	            <p>email</p>
	          </div>

             <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="email"  aria-label="edit and done" ng-click="profile.myedit.email=!profile.myedit.email;profile.updateEmail($event)">
                 <md-icon class="material-icons green" >{{profile.myedit.email ? "done":"mode_edit"}}</md-icon>
             </md-button>
	        </md-list-item>
	        <md-list-item class="md-2-line"  >
	          <md-icon class="material-icons">person_pin</md-icon>

	          <div class="md-list-item-text">
              <h3 class="profile-input-2"  ng-if="!profile.myedit.username || profile.myedit.username == false">{{profile.user.username || "muharizals"}}</h3>
              <input class="myinput profile-input-2" id="username" type="text" ng-model="profile.edit.username" placeholder="username" ng-if="profile.myedit.username && profile.myedit.username == true" ng-enter="profile.myedit.username=!profile.myedit.username;profile.updateUsername($event)">
              <span class="bar2"></span>
	            <p>username</p>
	          </div>
            <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="username"  aria-label="edit and done" ng-click="profile.myedit.username=!profile.myedit.username;profile.updateUsername($event)">
                <md-icon class="material-icons green" >{{profile.myedit.username ? "done":"mode_edit"}}</md-icon>
            </md-button>
	        </md-list-item>

          <md-list-item class="md-2-line"  >
           <md-icon class="material-icons">vpn_key</md-icon>

            <div class="md-list-item-text">
              <h3 class="profile-input-2" style="font-weight:bold"  ng-if="!profile.myedit.password || profile.myedit.password == false">........</h3>
              <input class="myinput profile-input-2" id="password" type="password" ng-model="profile.edit.password" placeholder="kata sandi baru" ng-if="profile.myedit.password && profile.myedit.password == true" ng-enter="profile.myedit.password=!profile.myedit.password;profile.updatePassword($event)">
              <span class="bar2"></span>
              <p>kata sandi</p>
            </div>

          <md-button class="md-secondary md-icon-button" event-focus="click" event-focus-id="password"  aria-label="edit and done" ng-click="profile.myedit.password=!profile.myedit.password;profile.updatePassword($event)">
              <md-icon class="material-icons green" >{{profile.myedit.password ? "done":"mode_edit"}}</md-icon>
          </md-button>
        </md-list-item>

          <md-list-item class="md-2-line" ng-if="profile.user.id_telegram" >
            <md-icon md-svg-src="/img/telegram.svg" ></md-icon>

            <div class="md-list-item-text">
              <h3>{{profile.user.id_telegram|| "tes"}}</h3>
              <p>id telegram </p>
            </div>

          </md-list-item>

          <md-list-item class="md-2-line"  ng-if="profile.isAdmin()">
              <md-icon class="material-icons">map</md-icon>

              <div class="md-list-item-text">
                  <h3>{{profile.user.wilayah.name|| "tes"}}</h3>
                  <p>wilayah </p>
              </div>

          </md-list-item>

	        <md-divider></md-divider>
	          <md-list-item class="md-1-line" >
	          <div class="md-list-item-text">

              <a class="clickable blue" ng-click="profile.resetPassword($event)">Atur ulang kata sandi</a>
	          </div>
	        </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="md-1-line" ng-if="false">
          <div class="md-list-item-text" layout-fill>
            <div md-padding layout="row" >
              <input class="myinput " id="usernamedeleted" type="text" ng-model="profile.user.todeleted" placeholder="username"  ng-enter="newadmin.focus('username')">
              <md-button ng-disabled="profile.user.todeleted != profile.user.username" class="md-warn" ng-click="profile.deleteAccount($event)">Hapus</md-button>
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
       </md-list>

       <p class="mylabel">terakhir diperbarui: {{profile.user.updatedAt | date:'EEEE, d MMMM y H:m '}}</p>
       </md-content>


    </md-dialog-content>


</md-dialog>
