<md-dialog aria-label="Tentang" style="width: 600px;" >
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h3>Tentang Trash Rescue</h3>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="tentang.close()">
                <md-tooltip md-direction="bottom">
                    tutup
                </md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div layout="row" style="margin-bottom: 10px" >
            <div flex="40" layout="column" layout-align="center center">
                <md-icon md-svg-src="/img/LogoTR-2.svg" class="image-about" style="margin:0;" aria-label="Gambar Trash Rescue"></md-icon>
            </div>

            <div flex="60">
                Trash Rescue merupakan sistem yang mengintegrasikan antara kontainer sampah TPS dengan sebuah aplikasi yang dapat memberikan pemberitahuan lokasi kontainer sampah yang sudah penuh sehingga dapat membuat proses pengangkutan sampah menjadi lebih efektif dan tepat.
            </div>
        </div>

        <md-divider></md-divider>

        <div layout="column">
            <h4 style="text-align: center">Pengembang</h4>
            <div layout="column" flex>
                <div layout="row">
                    <a href="https://www.linkedin.com/in/muhammadarizalsaputro/" target="_blank" class="no-decoration" flex layout="column" layout-align="center center">
                        <img src="/img/dev_arizal.jpg" class="person-image">
                        <p class="person-name">Muhammad Arizal Saputro</p>
                    </a>
                    <a href="https://www.linkedin.com/in/kristiaprilita/" target="_blank" class="no-decoration" flex layout="column" layout-align="center center">
                        <img src="/img/dev_kristi.jpg" class="person-image">
                        <p class="person-name">Kristi Aprilita</p>
                    </a>
                    <a href="https://www.linkedin.com/in/agung-tri-wibowo-803721117/" target="_blank" class="no-decoration" flex layout="column" layout-align="center center">
                        <img src="/img/dev_agung.jpg" class="person-image">
                        <p class="person-name">Agung Tri Wibowo</p>
                    </a>
                </div>

            </div>
        </div>

        <md-divider></md-divider>

        <div layout="column">
            <h4 style="text-align: center">Pembimbing</h4>
            <div layout="column" flex>
                <div layout="row" layout-align="center center">
                    <a href="https://www.linkedin.com/in/cahyana-993978114/" target="_blank" class="no-decoration" flex layout="column" layout-align="center center">
                        <img src="/img/sub_cahyana.jpg" class="person-image">
                        <p class="person-name">Cahyana,S.T.,M.Kom.</p>
                    </a>
                    <a href="https://www.facebook.com/rizza.ijonk.mandasari" target="_blank" class="no-decoration" flex layout="column" layout-align="center center">
                        <img src="/img/sub_rizza.jpg" class="person-image">
                        <p class="person-name">Rizza Indah Mega Mandasari,S.Kom.,M.T.</p>
                    </a>
                </div>

            </div>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-align="center center">
            <div  layout="column" layout-align="center center">
                <img src="/img/logo_pd.jpg" class="person-image">
            </div>
            <div  layout="column" layout-align="center center">
                <img src="/img/logo_telu.jpg" class="person-image">
            </div>
            <div layout="column" layout-align="center center">
                <img src="/img/logo_d3if.jpg" class="person-image">
            </div>
            <div layout="column" layout-align="center center">
                <img src="/img/logo_gulajawa.png" class="person-image">
            </div>
        </div>
        <md-divider></md-divider>
        <div class="copyright">Copyright © 2016 Prodi D3 Teknik Informatika
            Fakultas Ilmu Terapan – Universitas Telkom</div>
    </md-dialog-content>

</md-dialog>