<md-dialog aria-label="Petugas">
    <md-toolbar style="max-width:500px;max-height:820px;width:400px;">
        <div class="md-toolbar-tools">
            <h2>Wilayah</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="wilayah.close()">
                <md-tooltip md-direction="bottom">
                    tutup
                </md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content  style="max-width:500px;max-height:810px;width:400px;">
            <div >
                <div layout="row" layout-padding>

                    <div flex>
                        <input class="myinput profile-input-2" id="name" ng-model="wilayah.myedit.name" type="text" placeholder="Nama wilayah"  ng-enter="wilayah.tambahWilayah()">
                        <span class="bar2" style="width: 100%;"></span>
                    </div>

                    <md-button class="md-secondary md-icon-button"  aria-label="edit and done" ng-click="wilayah.tambahWilayah()">
                        <md-icon class="material-icons green" >add</md-icon>
                    </md-button>
                </div>

                <md-list>
                    <md-list-item class="md-1-line" ng-repeat="item in wilayah.listwilayah" ng-init="showedit=false">
                        <div flex >
                            <input class="myinput profile-input-2" id="name" ng-model="item.name" type="text" placeholder="Nama wilayah"  ng-enter="wilayah.editWilayah(item._id,item.name)">
                            <span class="bar2" style="width: 100%;"></span>
                        </div>
                        <md-button class="md-secondary md-icon-button"  ng-click="wilayah.editWilayah(item._id,item.name)">
                            <md-icon class="material-icons green" >done</md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button"  ng-click="wilayah.hapusWilayah(item._id)">
                            <md-icon class="material-icons green" >delete</md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
    </md-dialog-content>


</md-dialog>
